html,
body {
  min-width: 1062px;
  min-height: 2440px;
  margin: 0;
  padding: 0;
}
body {
  background: #88a294  no-repeat;
  background-size: 1062px auto;
}
.main-header {
    
    background-color:#0efa7b ;
    outline-color: #fc6d0d; 
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 860px;
  padding: 0 10px;
  margin:0 auto;
  
 
  }
.main-navigation {
  float: left;
  width: 560px;
  min-height: 70px;
  background-color: #f7d885;


}

.user-block {
  float: right;
  width: 270px;
  min-height: 70px;
  background-color: #f7d885;
}

.slider{
	width: 860px;
	min-height: 540px;
	background-image: url('../img/Мороженко 1.png');
	margin:0 auto;
}
.text-1{
	font-family: "Roboto Black" sans-serif;
	font-size: 60px;
	color:#ffffff;
	padding-top:330px;
	padding-left:95px;
	padding-right:95px;
	text-align: center;
}
.btn-2{
	width:282px;
	
	margin-left: 295px;
	text-align: center;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.promo{
  width: 860px;
  margin:0 auto;
  background: #e7d4da ;
}
.promo-left{
	float: left;
	width: 420px;
	min-height: 230px;
	background-image:url('../img/Малиновый фон.png');
	color:white;
	margin-right:20px;

}
.promo-right{
	float: right;
	width: 420px;
	min-height: 230px;
	background-image:url('../img/Шоколадный фон.png');
	color:white;
}
/*как выстроить в ряд?*/	
.ice-cream-list{
	width: 860px;
	min-height:300px;
	background-color: #bce9e5;
}
.ice-cream{
	width: 860px;
	min-height:300px;

}
.ice-cream-img img{
	display:inline-block;
}

.info{
	width: 860px;
	min-height:373px;
	background-image:url('../img/Фон.jpg');
}
.info-title{
	padding-left:20px;
	padding-top:25px;
}







































.main-navigation{
	font-family: "Roboto Bold" sans-serif;
	font-size:16px;
	line-height:normal;
	color:#000000;
	font-weight:bold;
}
.container-title{
	font-family: "Roboto Bold" sans-serif;
	font-size:35px;
	line-height:normal;
	color:#000000;
	font-weight:bold;
}
.text-1{
	font-family: "Roboto Black" sans-serif;
	font-size:60px;
	line-height:normal;
	color:#000000;
	font-weight:black;
}
.text-2{
	font-family: "Roboto Bold" sans-serif;
	font-size:31.48px;
	line-height:normal;
	color:#000000;
	font-weight:bold;
}
